//Created by Daniel on 2/15/2017.
mixin background-color()
	script.
		(function(){
			if ($('.mainview')) {
				console.log('hi');
				$('#header').css({'background-color': 'black'});
				$('#footer').css({'background-color': 'black'});
			}	
		});
		
